In [8]:
import pandas as pd

# Cargar el archivo CSV en un DataFrame
datos = pd.read_csv('Datos_antioquia.csv')

In [9]:
# Eliminar filas duplicadas
datos = datos.drop_duplicates()

In [10]:
# Eliminar filas con datos vacíos
datos = datos.dropna()

In [11]:
datos= datos.drop("cole_cod_depto_ubicacion", axis=1)
datos= datos.drop("cole_depto_ubicacion", axis=1)

In [12]:
titulos_columnas = datos.columns.tolist()
for i in titulos_columnas:
    conteo= datos[i].value_counts()
    print(conteo)

periodo
20194    57427
20181      748
20221      670
20201      459
20211      372
20191      347
Name: count, dtype: int64
estu_tipodocumento
TI     46475
CC     13149
CE       156
CR       106
NES       70
PEP       53
PE        10
RC         2
V          1
PC         1
Name: count, dtype: int64
estu_consecutivo
SB11201940168576    1
SB11201940331230    1
SB11201940005383    1
SB11201940546945    1
SB11201940069486    1
                   ..
SB11201940159447    1
SB11201940267392    1
SB11201940541134    1
SB11201940192758    1
SB11201940572394    1
Name: count, Length: 60023, dtype: int64
cole_area_ubicacion
URBANO    51365
RURAL      8658
Name: count, dtype: int64
cole_bilingue
N    59029
S      994
Name: count, dtype: int64
cole_calendario
A       56905
B        1652
OTRO     1466
Name: count, dtype: int64
cole_caracter
ACADÉMICO            31798
TÉCNICO/ACADÉMICO    25375
TÉCNICO               2731
NO APLICA              119
Name: count, dtype: int64
cole_cod_dane_establecimiento
105001000108    824
405001016946    679
305001017361    607
305001022682    604
105615000236    587
               ...
305001014256      5
305001022291      3
205686000282      3
305001017085      2
305001000611      1
Name: count, Length: 847, dtype: int64
cole_cod_dane_sede
105001000108    824
405001016946    679
305001017361    607
305001022682    604
105615000236    587
               ...
105001009962      1
205002000289      1
205347000125      1
205756000692      1
205756000480      1
Name: count, Length: 995, dtype: int64
cole_cod_mcpio_ubicacion
5001    24158
5088     4557
5360     2388
5266     2170
5615     1707
        ...
5021       17
5475       16
5145       16
5652       14
5044       13
Name: count, Length: 125, dtype: int64
cole_codigo_icfes
724211    824
95869     604
786       568
182       482
164590    479
         ...
276758      1
281527      1
144691      1
46086       1
305292      1
Name: count, Length: 1302, dtype: int64
cole_genero
MIXTO        56983
FEMENINO      2728
MASCULINO      312
Name: count, dtype: int64
cole_jornada
MAÑANA      22190
COMPLETA    13399
UNICA        7707
SABATINA     6952
TARDE        5579
NOCHE        4196
Name: count, dtype: int64
cole_mcpio_ubicacion
MEDELLÍN         24158
BELLO             4557
ITAGÜÍ            2388
ENVIGADO          2170
RIONEGRO          1707
                 ...
ALEJANDRÍA          17
MURINDÓ             16
CARAMANTA           16
SAN FRANCISCO       14
ANZÁ                13
Name: count, Length: 125, dtype: int64
cole_naturaleza
OFICIAL       45349
NO OFICIAL    14674
Name: count, dtype: int64
cole_nombre_establecimiento
INSTITUCION EDUCATIVA CENTRO FORMATIVO DE ANTIOQUIA -CEFA      824
COL COOP SAN ANTONIO DE PRADO (AC)                             679
CENT DE DESARROLLO INTEGRADO - CENDI                           607
POLITÉCNICO MAYOR AGENCIA CRISTIANA DE SERVICIO Y EDUCACIÓN    604
INSTITUCION EDUCATIVA  ESCUELA NORMAL SUPERIOR DE MARIA        587
                                                              ...
COL EL SE?OR COL THE LORD COLLEGE                                3
INSTITUCION EDUCATIVA RURAL BOCA DEL MONTE                       3
GIMNASIO CAMPESTRE EL TESORO                                     2
INSTITUCION EDUCATIVA LOS ANDES                                  1
COLEGIO COMPUESTUDIO                                             1
Name: count, Length: 828, dtype: int64
cole_nombre_sede
INST EDUC CEFA                            824
COL COOP SAN ANTONIO DE PRADO (AC)        679
CENT DE DESARROLLO INTEGRADO - CENDI      607
I. E. ESCUELA NORMAL SUPERIOR DE MARIA    587
INST EDUC INEM JOSE FELIX DE RESTREPO     568
                                         ...
C. E. R. EL SEIS                            1
C. E. R. LA PAVA                            1
SEC ESC LEON DE GREIFF                      1
C. E. R. AGUACATAL                          1
C. E. R. EL RODEO                           1
Name: count, Length: 981, dtype: int64
cole_sede_principal
S    58440
N     1583
Name: count, dtype: int64
estu_cod_depto_presentacion
5     59613
68      137
15      117
23       49
11       42
27       17
17       14
25       13
76        5
66        3
19        2
13        2
47        2
73        2
70        1
50        1
8         1
41        1
63        1
Name: count, dtype: int64
estu_cod_mcpio_presentacion
5001     23772
5088      4458
5360      3302
5615      2120
5266      2089
         ...
8001         1
41551        1
76892        1
25183        1
25769        1
Name: count, Length: 98, dtype: int64
estu_cod_reside_depto
5.0     59872
23.0       50
11.0       44
25.0       12
76.0        8
17.0        6
68.0        4
13.0        4
15.0        4
27.0        4
47.0        2
19.0        2
73.0        2
63.0        2
8.0         2
66.0        2
20.0        1
50.0        1
70.0        1
Name: count, dtype: int64
estu_cod_reside_mcpio
5001.0     23752
5088.0      4615
5360.0      2529
5266.0      2269
5615.0      1538
           ...
15172.0        1
13001.0        1
50001.0        1
17442.0        1
25769.0        1
Name: count, Length: 163, dtype: int64
estu_depto_presentacion
ANTIOQUIA       59613
SANTANDER         137
BOYACA            117
CORDOBA            49
BOGOTÁ             42
CHOCO              17
CALDAS             14
CUNDINAMARCA       13
VALLE               5
RISARALDA           3
CAUCA               2
BOLIVAR             2
MAGDALENA           2
TOLIMA              2
SUCRE               1
META                1
ATLANTICO           1
HUILA               1
QUINDIO             1
Name: count, dtype: int64
estu_depto_reside
ANTIOQUIA       59872
CORDOBA            50
BOGOTÁ             44
CUNDINAMARCA       12
VALLE               8
CALDAS              6
SANTANDER           4
BOLIVAR             4
BOYACA              4
CHOCO               4
MAGDALENA           2
CAUCA               2
TOLIMA              2
QUINDIO             2
ATLANTICO           2
RISARALDA           2
CESAR               1
META                1
SUCRE               1
Name: count, dtype: int64
estu_estadoinvestigacion
PUBLICAR                                  59932
VALIDEZ OFICINA JURÍDICA                     37
NO SE COMPROBO IDENTIDAD DEL EXAMINADO       30
PRESENTE CON LECTURA TARDIA                  24
Name: count, dtype: int64
estu_estudiante
ESTUDIANTE    60023
Name: count, dtype: int64
estu_fechanacimiento
27/08/2002    102
06/09/2002    100
03/03/2003     98
28/10/2002     97
13/09/2002     95
             ...
12/05/1974      1
24/03/1978      1
22/11/1980      1
24/02/1988      1
28/12/1961      1
Name: count, Length: 5215, dtype: int64
estu_genero
F    33592
M    26431
Name: count, dtype: int64
estu_mcpio_presentacion
MEDELLÍN        23772
BELLO            4458
ITAGÜÍ           3302
RIONEGRO         2120
ENVIGADO         2089
                ...
BARRANQUILLA        1
PITALITO            1
YUMBO               1
CHOCONTÁ            1
SUBACHOQUE          1
Name: count, Length: 98, dtype: int64
estu_mcpio_reside
MEDELLÍN               23752
BELLO                   4615
ITAGÜÍ                  2529
ENVIGADO                2269
RIONEGRO                1538
                       ...
CHINAVITA                  1
CARTAGENA DE INDIAS        1
VILLAVICENCIO              1
MARMATO                    1
SUBACHOQUE                 1
Name: count, Length: 162, dtype: int64
estu_nacionalidad
COLOMBIA           59778
VENEZUELA            203
ESTADOS UNIDOS        18
ESPAÑA                 5
ARGENTINA              2
BRASIL                 2
ECUADOR                2
CHILE                  2
ITALIA                 2
PARAGUAY               1
MÉXICO                 1
COMORAS                1
PERÚ                   1
CUBA                   1
COREA DEL NORTE        1
INDIA                  1
TAIWAN                 1
FRANCIA                1
Name: count, dtype: int64
estu_pais_reside
COLOMBIA           59778
VENEZUELA            203
ESTADOS UNIDOS        18
ESPAÑA                 5
ARGENTINA              2
BRASIL                 2
ECUADOR                2
CHILE                  2
ITALIA                 2
PARAGUAY               1
MÉXICO                 1
COMORAS                1
PERÚ                   1
CUBA                   1
COREA DEL NORTE        1
INDIA                  1
TAIWAN                 1
FRANCIA                1
Name: count, dtype: int64
estu_privado_libertad
N    60023
Name: count, dtype: int64
fami_cuartoshogar
Tres          24955
Dos           20931
Cuatro         8032
Uno            3133
Cinco          2088
Seis o mas      884
Name: count, dtype: int64
fami_educacionmadre
Secundaria (Bachillerato) completa      15899
Primaria incompleta                      9047
Secundaria (Bachillerato) incompleta     8315
Técnica o tecnológica completa           7365
Educación profesional completa           6376
Primaria completa                        5724
Postgrado                                1872
Técnica o tecnológica incompleta         1780
Ninguno                                  1421
Educación profesional incompleta         1045
No sabe                                  1042
No Aplica                                 137
Name: count, dtype: int64
fami_educacionpadre
Secundaria (Bachillerato) completa      12901
Primaria incompleta                     11980
Secundaria (Bachillerato) incompleta     7744
Primaria completa                        5631
Educación profesional completa           5234
No sabe                                  4558
Técnica o tecnológica completa           4350
Ninguno                                  2558
Postgrado                                1938
No Aplica                                1183
Técnica o tecnológica incompleta         1090
Educación profesional incompleta          856
Name: count, dtype: int64
fami_estratovivienda
Estrato 2      23296
Estrato 3      16050
Estrato 1      12904
Estrato 4       3403
Estrato 5       1874
Estrato 6       1575
Sin Estrato      921
Name: count, dtype: int64
fami_personashogar
3 a 4      32646
5 a 6      16727
1 a 2       5424
7 a 8       3980
9 o más     1246
Name: count, dtype: int64
fami_tieneautomovil
No    45640
Si    14383
Name: count, dtype: int64
fami_tienecomputador
Si    37975
No    22048
Name: count, dtype: int64
fami_tieneinternet
Si    43274
No    16749
Name: count, dtype: int64
fami_tienelavadora
Si    49962
No    10061
Name: count, dtype: int64
desemp_ingles
A-    29074
A1    15709
A2     8416
B1     4424
B+     2400
Name: count, dtype: int64
punt_ingles
54.0    1655
55.0    1644
52.0    1642
50.0    1634
46.0    1626
        ...
90.0      22
91.0       9
0.0        8
20.0       3
92.0       2
Name: count, Length: 75, dtype: int64
punt_matematicas
51.0    1817
49.0    1810
54.0    1791
53.0    1790
50.0    1779
        ...
84.0      11
17.0       8
15.0       3
16.0       2
85.0       1
Name: count, Length: 72, dtype: int64
punt_sociales_ciudadanas
38    1744
37    1730
39    1707
42    1661
43    1651
      ...
82       5
83       4
84       2
17       2
0        1
Name: count, Length: 70, dtype: int64
punt_c_naturales
45     2021
43     1964
46     1961
41     1953
44     1952
       ...
100      14
21       10
82        2
20        1
19        1
Name: count, Length: 65, dtype: int64
punt_lectura_critica
55    2207
52    2110
53    2103
57    2088
58    2050
      ...
23       8
82       6
21       4
22       4
0        1
Name: count, Length: 64, dtype: int64
punt_global
247    516
243    484
248    482
215    478
227    477
      ...
446      1
428      1
429      1
444      1
430      1
Name: count, Length: 307, dtype: int64

In [13]:
#Volver numericos las columnas que contienen numeros
columnas_numericas = ['punt_global', 'punt_lectura_critica', 'punt_c_naturales', "punt_sociales_ciudadanas", "punt_matematicas", "punt_ingles"]
datos[columnas_numericas] = datos[columnas_numericas].apply(pd.to_numeric, errors='coerce')         
datos 
datos.shape

(60023, 49)

In [14]:

# Lista de variables que quieres conservar
variables_a_conservar = [
'cole_area_ubicacion',
'cole_bilingue',
'cole_caracter',
'cole_cod_mcpio_ubicacion',
'cole_genero',
'cole_jornada',
'cole_naturaleza',
'cole_sede_principal',
'estu_genero',
'estu_fechanacimiento',
'estu_cod_reside_mcpio',
'desemp_ingles',
'fami_cuartoshogar',
'fami_educacionmadre',
'fami_educacionpadre',
'fami_estratovivienda',
'fami_personashogar',
'fami_tieneautomovil',
'fami_tienecomputador',
'fami_tieneinternet',
'fami_tienelavadora',
'punt_global'
]

datos = datos[variables_a_conservar]

# Reemplaza los valores en la columna "fami_cuartoshogar" usando el diccionario de mapeo
mapeo_valores = {"Uno": 1, "Dos": 2, "Tres": 3, "Cuatro": 4, "Cinco": 5, "Seis": 6, "Siete":7, "Ocho": 8, "Nueve": 9,"Diez": 10, "Seis o mas":7, "Diez o más":10, "9 o más":9,"No Aplica":-2}
datos["fami_cuartoshogar"] = datos["fami_cuartoshogar"].replace(mapeo_valores)


# Reemplaza los valores en la columna "fami_estratovivienda" usando el diccionario de mapeo
mapeo_valores_estrato = {"Estrato 1": 1, "Estrato 2": 2, "Estrato 3": 3, "Estrato 4": 4, "Estrato 5": 5, "Estrato 6": 6, "Sin Estrato":0}
datos["fami_estratovivienda"] = datos["fami_estratovivienda"].replace(mapeo_valores_estrato)

# Variables booleanas (SI y NO)
mapeo_valores_booleanos = {"Si": 1, "No": 0, "N":0, "S":1,"No Aplica":-2}
variables_a_modificar = ["fami_tieneautomovil", "fami_tienecomputador", "fami_tieneinternet", "fami_tienelavadora",'cole_bilingue','cole_sede_principal']
for variable in variables_a_modificar:
    datos[variable] = datos[variable].replace(mapeo_valores_booleanos)

# Personas Hogar
mapeo_personas_hogar = {"Uno": 1, "Una":1, "Dos": 2, "Tres": 3, "Cuatro": 4, "Cinco": 5, "Seis": 6, "Siete": 7, "Ocho": 8, "Nueve": 9, "Diez": 10, "Once": 11, "Doce o más": 12,"3 a 4":3.5, 
                        "1 a 2":2.5, "2 a 3":2.5, "4 a 5":4.5, "5 a 6":5.5, "6 a 7":6.5,"7 a 8":7.5, "8 a 9":8.5, "9 a 10":9.5, "10 a 11":10.5, "11 a 12":11.5, "Diez o más":10, "9 o más":9, "No Aplica":-2}
datos["fami_personashogar"] = datos["fami_personashogar"].replace(mapeo_personas_hogar)

# Genero Estudiante
mapeo_genero = {"F": 1, "M": 0, "No Aplica":-2}
datos["estu_genero"] = datos["estu_genero"].replace(mapeo_genero)

#Cambio variable a numerica
datos["estu_cod_reside_mcpio"] = datos["estu_cod_reside_mcpio"].astype(int)
datos['cole_cod_mcpio_ubicacion'] = datos['cole_cod_mcpio_ubicacion'].astype(int)

# Extraer el año de la variable estu_fechanacimiento
datos['estu_fechanacimiento'] = datos['estu_fechanacimiento'].str.split('/').str[-1].astype(int)

# Area Colgios
mapeo_area = {"RURAL": 1, "URBANO": 0, "NO APLICA":-1, "No Aplica":-2}
datos['cole_area_ubicacion'] = datos['cole_area_ubicacion'].replace(mapeo_area)

# Desempeño Ingles
mapeo_ingles = {"A-": 0, "A+": 1, "A1": 2, "A2": 3, "B-": 4, "B+": 5, "B1": 6, "B2": 7, "No aplica":-1, "No Aplica":-2}
datos['desemp_ingles'] = datos['desemp_ingles'].replace(mapeo_ingles)

# Caracter Colegio
mapeo_caracter = {"TÉCNICO/ACADÉMICO": 1, "ACADÉMICO": 0,"TÉCNICO": 2, "NO APLICA":-1, "No Aplica":-2 }
datos['cole_caracter'] = datos['cole_caracter'].replace(mapeo_caracter)

# Genero Colegio
mapeo_GENCOL = {"MIXTO": 0, "FEMENINO": 1, "MASCULINO":2, "NO APLICA":-1, "No Aplica":-2}
datos['cole_genero'] = datos['cole_genero'].replace(mapeo_GENCOL)

# Jornada Colegio
mapeo_jor = {"NOCHE": 0, "MAÑANA": 1, "COMPLETA":2, "SABATINA":3, "TARDE":4, "UNICA":5, "NO APLICA":-1, "No Aplica":-2}
datos['cole_jornada'] = datos['cole_jornada'].replace(mapeo_jor)

# naturaleza Colegio
mapeo_na = {"OFICIAL": 0, "NO OFICIAL": 1, "UNICA":2, "NO APLICA":-1, "No Aplica":-2}
datos['cole_naturaleza'] = datos['cole_naturaleza'].replace(mapeo_na)


# Convertir las columnas seleccionadas a tipo numérico
datos['punt_global'] = datos['punt_global'].apply(pd.to_numeric, errors='coerce')

# Educacion Papas
mapeo_edu = {"Secundaria (Bachillerato) completa": 0, "Secundaria (Bachillerato) incompleta": 1,"Primaria completa": 2, "Primaria incompleta": 3,"Técnica o tecnológica completa": 4,
            "Técnica o tecnológica incompleta": 5, "Educación profesional completa": 6, "Educación profesional incompleta": 7, "Postgrado":8, "No sabe":-1, "Ninguno":-2, "No aplica": -3, "No Aplica": -3}
datos['fami_educacionmadre'] = datos['fami_educacionmadre'].replace(mapeo_edu)
datos['fami_educacionpadre'] = datos['fami_educacionpadre'].replace(mapeo_edu)

datos

C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:31: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos["fami_cuartoshogar"] = datos["fami_cuartoshogar"].replace(mapeo_valores)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:36: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos["fami_estratovivienda"] = datos["fami_estratovivienda"].replace(mapeo_valores_estrato)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:42: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos[variable] = datos[variable].replace(mapeo_valores_booleanos)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:47: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos["fami_personashogar"] = datos["fami_personashogar"].replace(mapeo_personas_hogar)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:51: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos["estu_genero"] = datos["estu_genero"].replace(mapeo_genero)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:62: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['cole_area_ubicacion'] = datos['cole_area_ubicacion'].replace(mapeo_area)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:66: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['desemp_ingles'] = datos['desemp_ingles'].replace(mapeo_ingles)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:70: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['cole_caracter'] = datos['cole_caracter'].replace(mapeo_caracter)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:74: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['cole_genero'] = datos['cole_genero'].replace(mapeo_GENCOL)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:78: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['cole_jornada'] = datos['cole_jornada'].replace(mapeo_jor)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:82: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['cole_naturaleza'] = datos['cole_naturaleza'].replace(mapeo_na)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:91: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['fami_educacionmadre'] = datos['fami_educacionmadre'].replace(mapeo_edu)
C:\Users\luisc\AppData\Local\Temp\ipykernel_42632\2409651633.py:92: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['fami_educacionpadre'] = datos['fami_educacionpadre'].replace(mapeo_edu)

,cole_area_ubicacion,cole_bilingue,cole_caracter,cole_cod_mcpio_ubicacion,cole_genero,cole_jornada,cole_naturaleza,cole_sede_principal,estu_genero,estu_fechanacimiento,...,fami_cuartoshogar,fami_educacionmadre,fami_educacionpadre,fami_estratovivienda,fami_personashogar,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,punt_global
0,0,0,1,5856,0,2,0,1,0,2003,...,3,2,3,2,5.5,0,1,0,1,252
2,0,0,1,5001,0,4,0,1,1,2002,...,3,1,-1,1,5.5,0,0,1,1,247
4,0,0,1,5001,1,5,0,1,1,2002,...,4,8,6,3,5.5,0,1,1,1,268
6,0,0,1,5001,0,5,0,1,0,2001,...,3,4,-1,4,3.5,0,1,1,1,197
8,0,0,0,5045,0,1,0,1,0,1999,...,3,1,4,1,5.5,0,0,0,1,302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153186,0,0,1,5129,0,1,0,1,1,2002,...,4,3,3,2,5.5,1,1,1,1,208
153188,0,0,1,5031,0,4,0,1,1,2002,...,3,0,0,3,5.5,0,0,1,1,286
153190,0,0,1,5001,1,4,0,1,1,2003,...,4,0,2,3,5.5,0,1,1,1,237
153192,0,0,1,5154,0,3,0,1,1,1999,...,2,0,0,2,2.5,0,0,0,0,207
153194,1,0,0,5847,0,2,0,0,1,2002,...,5,2,2,3,7.5,0,1,0,0,196

In [15]:
datos.to_csv('datos_limpios.csv', index=False)  # El parámetro index=False evita que se guarde el índice del DataFrame en el archivo CSV