Tarea 4 - Modelamiento

Cargo: Ciencia de Datos: Luisa Velez

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import numpy as np

In [48]:
import pandas as pd

# Lista de variables que quieres conservar
variables_a_conservar = [
'cole_area_ubicacion',
'cole_bilingue',
'cole_caracter',
'cole_cod_mcpio_ubicacion',
'cole_genero',
'cole_jornada',
'cole_naturaleza',
'cole_sede_principal',
'estu_genero',
'estu_fechanacimiento',
'estu_cod_reside_mcpio',
'desemp_ingles',
'fami_cuartoshogar',
'fami_educacionmadre',
'fami_educacionpadre',
'fami_estratovivienda',
'fami_personashogar',
'fami_tieneautomovil',
'fami_tienecomputador',
'fami_tieneinternet',
'fami_tienelavadora',
'punt_ingles',
'punt_matematicas',
'punt_sociales_ciudadanas',
'punt_c_naturales',
'punt_lectura_critica',
'punt_global'
]

datos = pd.read_csv("datos_limpios.csv")
datos = datos[variables_a_conservar]

# Reemplaza los valores en la columna "fami_cuartoshogar" usando el diccionario de mapeo
mapeo_valores = {"Uno": 1, "Dos": 2, "Tres": 3, "Cuatro": 4, "Cinco": 5, "Seis": 6}
datos["fami_cuartoshogar"] = datos["fami_cuartoshogar"].replace(mapeo_valores)


# Reemplaza los valores en la columna "fami_estratovivienda" usando el diccionario de mapeo
mapeo_valores_estrato = {"Estrato 1": 1, "Estrato 2": 2, "Estrato 3": 3, "Estrato 4": 4, "Estrato 5": 5, "Estrato 6": 6}
datos["fami_estratovivienda"] = datos["fami_estratovivienda"].replace(mapeo_valores_estrato)

# Variables booleanas (SI y NO)
mapeo_valores_booleanos = {"Si": 1, "No": 0, "N":0, "S":1}
variables_a_modificar = ["fami_tieneautomovil", "fami_tienecomputador", "fami_tieneinternet", "fami_tienelavadora",'cole_bilingue','cole_sede_principal']
for variable in variables_a_modificar:
    datos[variable] = datos[variable].replace(mapeo_valores_booleanos)

# Personas Hogar
mapeo_personas_hogar = {"Uno": 1, "Dos": 2, "Tres": 3, "Cuatro": 4, "Cinco": 5, "Seis": 6, "Siete": 7, "Ocho": 8, "Nueve": 9, "Diez": 10, "Once": 11, "Doce o mas": 12,"3 a 4":3.5, 
                        "1 a 2":2.5, "2 a 3":2.5, "4 a 5":4.5, "5 a 6":5.5, "6 a 7":6.5,"7 a 8":7.5, "8 a 9":8.5, "9 a 10":9.5, "10 a 11":10.5, "11 a 12":11.5}
datos["fami_personashogar"] = datos["fami_personashogar"].replace(mapeo_personas_hogar)

# Genero Estudiante
mapeo_genero = {"F": 1, "M": 0}
datos["estu_genero"] = datos["estu_genero"].replace(mapeo_genero)

#Cambio variable a numerica
datos["estu_cod_reside_mcpio"] = datos["estu_cod_reside_mcpio"].astype(int)
datos['cole_cod_mcpio_ubicacion'] = datos['cole_cod_mcpio_ubicacion'].astype(int)

# Extraer el año de la variable estu_fechanacimiento
datos['estu_fechanacimiento'] = datos['estu_fechanacimiento'].str.split('/').str[-1].astype(int)

# Area Colgios
mapeo_area = {"RURAL": 1, "URBANO": 0}
datos['cole_area_ubicacion'] = datos['cole_area_ubicacion'].replace(mapeo_area)

# Desempeño Ingles
mapeo_ingles = {"A-": 0, "A+": 1, "A1": 2, "A2": 3, "B-": 4, "B+": 5, "B1": 6, "B2": 7}
datos['desemp_ingles'] = datos['desemp_ingles'].replace(mapeo_ingles)

# Caracter Colegio
mapeo_caracter = {"TÉCNICO/ACADÉMICO": 1, "ACADÉMICO": 0}
datos['cole_caracter'] = datos['cole_caracter'].replace(mapeo_caracter)

# Genero Colegio
mapeo_GENCOL = {"MIXTO": 0, "FEMENINO": 1, "MASCULINO":2}
datos['cole_genero'] = datos['cole_genero'].replace(mapeo_GENCOL)

# Jornada Colegio
mapeo_jor = {"NOCHE": 0, "MAÑANA": 1, "COMPLETA":2, "SABATINA":3}
datos['cole_jornada'] = datos['cole_jornada'].replace(mapeo_jor)

# naturaleza Colegio
mapeo_na = {"OFICIAL": 0, "NO OFICIAL": 1}
datos['cole_naturaleza'] = datos['cole_naturaleza'].replace(mapeo_na)

# Suponiendo que 'df' es tu DataFrame y estas son las columnas que quieres convertir
columns_to_convert = ['estu_cod_reside_mcpio', 'punt_ingles', 'punt_matematicas', 
                      'punt_sociales_ciudadanas', 'punt_c_naturales', 'punt_lectura_critica', 
                      'punt_global']

# Convertir las columnas seleccionadas a tipo numérico
datos[columns_to_convert] = datos[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Educacion Papas
mapeo_edu = {"Secundaria (Bachillerato) completa": 0, "Secundaria (Bachillerato) incompleta": 1,"Primaria completa": 2, "Primaria incompleta": 3,"Técnica o tecnológica completa": 4,
            "Técnica o tecnológica incompleta": 5, "Educación profesional completa": 6, "Educación profesional incompleta": 7, "Postgrado":8, "No sabe":-1, "Ninguno":-2, "No aplica": -3}
datos['fami_educacionmadre'] = datos['fami_educacionmadre'].replace(mapeo_edu)
datos['fami_educacionpadre'] = datos['fami_educacionpadre'].replace(mapeo_edu)

datos

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2524\687944253.py:50: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos[variable] = datos[variable].replace(mapeo_valores_booleanos)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2524\687944253.py:59: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos["estu_genero"] = datos["estu_genero"].replace(mapeo_genero)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2524\687944253.py:70: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['cole_area_ubicacion'] = datos['cole_area_ubicacion'].replace(mapeo_area)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2524\687944253.py:74: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['desemp_ingles'] = datos['desemp_ingles'].replace(mapeo_ingles)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2524\687944253.py:82: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['cole_genero'] = datos['cole_genero'].replace(mapeo_GENCOL)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2524\687944253.py:90: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos['cole_naturaleza'] = datos['cole_naturaleza'].replace(mapeo_na)

,cole_area_ubicacion,cole_bilingue,cole_caracter,cole_cod_mcpio_ubicacion,cole_genero,cole_jornada,cole_naturaleza,cole_sede_principal,estu_genero,estu_fechanacimiento,...,fami_tieneautomovil,fami_tienecomputador,fami_tieneinternet,fami_tienelavadora,punt_ingles,punt_matematicas,punt_sociales_ciudadanas,punt_c_naturales,punt_lectura_critica,punt_global
0,0,0,1,5266,0,1,0,1,1,1998,...,0,1,1,0,59.0,53.0,64.0,54.0,54.0,284.0
1,0,0,0,5001,0,1,1,1,1,1997,...,0,0,1,1,47.0,36.0,49.0,33.0,52.0,214.0
2,0,0,1,5361,0,2,0,1,0,2001,...,0,1,1,0,63.0,69.0,65.0,67.0,60.0,325.0
3,1,0,0,5631,0,1,0,1,0,1999,...,0,0,1,1,59.0,58.0,63.0,61.0,61.0,304.0
4,0,0,0,5631,0,1,0,1,1,2001,...,0,1,1,1,51.0,59.0,62.0,57.0,61.0,295.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315550,0,0,1,5001,0,0,0,1,0,2001,...,0,1,0,1,47.0,49.0,44.0,38.0,51.0,228.0
315551,1,0,1,5837,0,1,0,1,0,2000,...,0,0,0,0,38.0,32.0,27.0,39.0,41.0,175.0
315552,0,0,1,5212,0,2,0,1,1,1999,...,0,1,1,1,88.0,78.0,67.0,67.0,71.0,360.0
315553,0,0,1,5360,0,1,0,1,0,1996,...,0,1,1,0,49.0,52.0,53.0,59.0,50.0,266.0
315554,0,1,0,5579,0,3,0,1,0,1973,...,0,0,0,1,32.0,32.0,42.0,33.0,37.0,177.0